/* https://postimg.cc/gallery/gJQQ8TK */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


/* --------------------------- */
/* ----Custom Properties------ */
/* --------------------------- */

:root {
    --clr-white: 255, 255, 255;
    --clr-black: 30, 27, 27;
    --clr-orange: 255, 100, 51;
    --clr-purple: 102, 28, 231;
    --clr-mint: 0, 210, 137;
    --clr-yellow: 255, 182, 72;
    --clr-grey: 147, 147, 145;
    --clr-steelgrey: 226, 230, 233;
    --clr-lightgrey: 242, 242, 242;

    --ff-manrope: 'Manrope', sans-serif;

    --fs-900: 4rem;
    --fs-800: 3.625rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
    --fs-200: 1.125rem;
    --fs-100: 1rem;
}

/* --------------------------- */
/* ----------Resets----------- */
/* --------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

body, html, h1, h2, h3, h4, h5, h6, p, img, div, nav, footer, * {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    min-height: 100vh;
    background-color: rgb( var(--clr-white) );
    font-family: var(--ff-manrope);
    font-size: var(--fs-100);
    font-weight: 600;
    line-height: 1.75;
    color: rgb( var(--clr-black) );
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* --------------------------- */
/* ------Utility Classes------ */
/* --------------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-vertical {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-align-self-center {
    align-self: center;
}

.flex-align-self-end {
    align-self: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-self-center {
    justify-self: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.bg-black { background-color: rgb( var(--clr-black) );}
.bg-white { background-color: rgb( var(--clr-white) );}
.bg-orange { background-color: rgb( var(--clr-orange) );}
.bg-purple { background-color: rgb( var(--clr-purple) );}
.bg-mint { background-color: rgb( var(--clr-mint) );}
.bg-grey { background-color: rgb( var(--clr-grey) );}
.bg-steelgrey { background-color: rgb( var(--clr-steelgrey) );}
.bg-lightgrey { background-color: rgb( var(--clr-lightgrey) );}

.text-black, .text-black * { color: rgb( var(--clr-black) );}
.text-white, .text-white * { color: rgb( var(--clr-white) );}
.text-purple { color: rgb( var(--clr-purple) );}
.text-grey { color: rgb( var(--clr-grey) );}
.text-steelgrey { color:rgb( var(--clr-steelgrey) );}


.ff-manrope { font-family: var(--ff-manrope);}

.fs-heading-h1 {
    font-size: var(--fs-900);
    line-height: 5.25rem;
    font-weight: 800;
    letter-spacing: -0.03em;
}
.fs-heading-h2 {
    font-size: var(--fs-800);
    line-height: 4.75rem;
    font-weight: 800;
    letter-spacing: -0.03em;
}
.fs-heading-h3 {
    font-size: var(--fs-700);
    line-height: 4.25rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-h4 {
    font-size: var(--fs-600);
    line-height: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-5, .fs-title-1 {
    font-size: var(--fs-500);
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-6 {
    font-size: var(--fs-300);
    line-height: 1.875rem;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.fs-title-2 {
    font-size: var(--fs-400);
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.fs-body-1 {
    font-size: var(--fs-200);
    line-height: 2rem;
    font-weight: 600;
}
.fs-body-2 {
    font-size: var(--fs-100);
    line-height: 1.75rem;
    font-weight: 600;
}
.fs-caption {
    font-size: var(--fs-100);
    line-height: 1.5rem;
    font-weight: 500;
}

.opacity-5 {
    opacity: 0.5;
}

.opacity-6 {
    opacity: 0.6;
}

.opacity-7 {
    opacity: 0.7;
}

.uppercase { text-transform: uppercase;}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.justify-text {
    text-align: justify;
}

.container {
    margin-inline: auto;
    max-width: 80rem;
}

section, nav, footer {
    padding-inline: 4em;
    position: relative;
}

.circle {
    aspect-ratio: 1;
    border-radius: 50%;
}

.no-decoration-family, .no-decoration-family * {
    text-decoration: none;
    list-style: none;
}

.no-decoration {
    text-decoration: none;
    list-style: none;
}

.btn-primary {
    padding: 16px 40px;
    border-radius: 12px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgb( var(--clr-white) );
    background-color: rgb( var(--clr-orange) );
    margin-right: auto;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    padding: 16px 40px;
    border-radius: 12px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgb( var(--clr-white) );
    background-color: rgb( var(--clr-black) );
    margin-right: auto;
    border: none;
    cursor: pointer;
}

/* --------------------------- */
/* --------Nav Section-------- */
/* --------------------------- */

nav {
    width: 100%;
}

.navwrap {
    height: 90px;
}

.logo-section {
    height: 3.5rem;
}

.nav-links-section {
    --gap: 0;
}

.nav-links-list {
    border-right: 2px solid rgba( var(--clr-grey), 0.36 );
    padding-right: 15px;
}

.nav-links-list-item {
    padding-inline: 15px;
}

.nav-contact {
    --gap: 0;
}

.whatsapp-link {
    padding-inline: 25px 10px;
}

.nav-contact-details {
    height: 3.5rem;
    --gap: 0;
}

/* --------------------------- */
/* -------Header Section------ */
/* --------------------------- */

.header {
    padding: 5rem 0 10rem;
    z-index: -1;
}

.header-wrap {
    z-index: -1;
}

.header-text {
    width: 39rem;
}

.header-text-wrap {
    --gap: 2.5rem;
}

.open {
    --gap: 1rem;
}

.header-section-btn {
    margin-bottom: 2.5rem;
}

.header-image {
    width: 37.5rem;
    height: 39rem;
    position: relative;
    z-index: -1;
}

.header-img {
    width: 100%;
    height: 100%;
}

.service {
    position: absolute;
    top: 12%;
    left: -8%;
    border-radius: 59px;
    z-index: 10;
    /* background: linear-gradient(138.85deg, #fff -38.72%, #fff 153.95%); */
    border: 0.75rem solid rgba( var(--clr-white), 0.43);
    box-shadow: 0 28 118 0 rgba(109, 108, 115, 0.12);
}

.service-wrap {
    border-radius: 59px;
    padding: 0.5rem 1rem;
    z-index: 10;
    box-shadow: 0 28 118 0 rgba(115, 114, 119, 0.12);
}

.service-circle-wrap {
    --gap: 0.3rem;
    padding: 0.8rem;
}

.service-circle-wrap-little-text {
    line-height: 2.5rem;
}

.rating {
    position: absolute;
    bottom: 10%;
    right: -8%;
    border-radius: 59px;
    z-index: 2;
    border: 0.75rem solid rgba( var(--clr-white), 0.43);
    box-shadow: 0 28 118 0 rgba(115, 114, 119, 0.12);
}

.rating-wrap {
    padding: 1rem 3rem;
    border-radius: 59px;
    box-shadow: 0 28 118 0 rgba(115, 114, 119, 0.12);
}

.rating-stars {
    --gap: 0.5rem;
}

/* --------------------------- */
/* -------Quote Section------- */
/* --------------------------- */
.quote-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.quote-left {
    width: 40%;
}

.quote-left-wrap {
    --gap: 3rem;
}

.feature-wrap {
    width: 75%;
    --gap: 1.5rem;
}

.feature-left-icon-circle {
    width: 2.5rem;
}

.feature-right {
    padding-top: 0.2rem;
}

.feature-right h6 {
    margin-bottom: 0.5rem;
}

.feature-link {
    --gap: 0.5rem;
    margin-top: 1rem;
}

.feature-link-text-arrow {
    font-size: var(--fs-700);
    line-height: 1.8rem;
}

.quote-right {
    width: 45%;
}

.quote-right-wrap {
    --gap: 2rem;
}

.quote-form {
    --gap: 2rem;
}

.form-inputs-wrap {
    --gap: 0rem;
}

.home-quote-form-input {
    padding: 1.2rem 2rem;
    border: none;
    margin-bottom: 2px;
}

.home-quote-form-input::placeholder {
    font-size: var(--fs-100);
    line-height: 1.75rem;
    font-weight: 600;
    opacity: 0.5;
}



/* --------------------------- */
/* ------Process Section------ */
/* --------------------------- */

.process-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.process-section-wrap {
    margin-left: 5rem;
}

.process-left {
    width: 45%;
}

.process-left-wrap {
    --gap: 2rem;
}

.process-right {
    width: 35%;
}

.process-circle-section {
    --gap: 1rem;
}

.process-circle {
    width: 4.5rem;
    position: relative;
}

.process-circle::after {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba( var(--clr-white), 0.24 );
    position: absolute;
    left: 25%;
    bottom: -25%;
}

.process-circle p {
    font-size: 1.8rem;
    line-height: 4.5rem;
    text-align: center;
}

.dotted-line {
    width: 0;
    height: 5.5rem;
    border-left: 3px dashed rgb( var(--clr-orange) );
}

.process-text-section {
    --gap: 1rem;
}

.process-text-group {
    --gap: 1.1rem;
    padding-top: 0.9rem;
/*     padding-bottom: 1rem; */
}

.process-text-group p {
    width: 95%;
}


/* --------------------------- */
/* -------Offer Section------- */
/* --------------------------- */

.offer-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.offer-section-wrap {
    --gap: 0;
}

.offer-section-wrap h2 {
    width: 65%;
    margin-top: 0.5rem;
    margin-inline: auto;
    margin-bottom: 4rem;
}

.offer-boxes-wrap {
    --gap: 0.4rem;
}

.offer-box {
    width: calc(78.8rem / 4);
    aspect-ratio: 1.36;
}

.offer-box-wrap {
    transform: scale(0.85);
}

.offer-link {
    margin-top: 2rem;
}

.offer-link-text-arrow {
    font-size: var(--fs-700);
    line-height: 1.8rem;
    margin-left: 1rem;
}


/* --------------------------- */
/* --------CTA Section-------- */
/* --------------------------- */

.cta-section {
    position: relative;
    height: 29rem;
}

.cta-left-image {
    width: 52%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/cta-left-image.png");
    background-size: cover;
    background-position: bottom left;
    z-index: -1;
}

.cta-right-image {
    width: 48%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/cta-right-image.png");
    background-size: cover;
    z-index: -1;
}

.cta {
    height: 100%;
    z-index: 2;
}

.cta-box {
    width: 55%;
    height: 100%;
}

.cta-box-wrap {
    width: 82%;
    --gap: 3rem;
}


/* --------------------------- */
/* ----Experience Section----- */
/* --------------------------- */

.experience-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* --------------------------- */
/* ------Brands Section------- */
/* --------------------------- */

.brands-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.brands-section-wrap {
    --gap: 3rem;
}

.brands-wrap {
    width: 100%;
    --gap: 0.5rem;
}

.brands-wrap img {
    width: 15.6rem;
}
