/* https://postimg.cc/gallery/gJQQ8TK */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


/* --------------------------- */
/* ----Custom Properties------ */
/* --------------------------- */

:root {
    --clr-white: 255, 255, 255;
    --clr-border-white: 225, 225, 225;
    --clr-black: 30, 27, 27;
    --clr-orange: 255, 100, 51;
    --clr-purple: 102, 28, 231;
    --clr-mint: 0, 210, 137;
    --clr-yellow: 255, 182, 72;
    --clr-grey: 147, 147, 145;
    --clr-border-grey: 172, 172, 172;
    --clr-steelgrey: 226, 230, 233;
    --clr-lightgrey: 242, 242, 242;

    --ff-manrope: 'Manrope', sans-serif;

    --fs-900: 4rem;
    --fs-800: 3.625rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
    --fs-200: 1.125rem;
    --fs-100: 1rem;

    --ctnr-width: 80rem;
}

/* --------------------------- */
/* ----------Resets----------- */
/* --------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

body, html, h1, h2, h3, h4, h5, h6, p, img, div, nav, footer, * {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    background-color: rgb( var(--clr-white) );
    font-family: var(--ff-manrope);
    font-size: var(--fs-100);
    font-weight: 600;
    line-height: 1.75;
    color: rgb( var(--clr-black) );
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* --------------------------- */
/* ------Utility Classes------ */
/* --------------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-vertical {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-align-self-center {
    align-self: center;
}

.flex-align-self-end {
    align-self: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-self-center {
    justify-self: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.bg-black { background-color: rgb( var(--clr-black) );}
.bg-white { background-color: rgb( var(--clr-white) );}
.bg-orange { background-color: rgb( var(--clr-orange) );}
.bg-purple { background-color: rgb( var(--clr-purple) );}
.bg-mint { background-color: rgb( var(--clr-mint) );}
.bg-grey { background-color: rgb( var(--clr-grey) );}
.bg-steelgrey { background-color: rgb( var(--clr-steelgrey) );}
.bg-lightgrey { background-color: rgb( var(--clr-lightgrey) );}

.text-black, .text-black * { color: rgb( var(--clr-black) );}
.text-white, .text-white * { color: rgb( var(--clr-white) );}
.text-purple { color: rgb( var(--clr-purple) );}
.text-grey { color: rgb( var(--clr-grey) );}
.text-steelgrey { color:rgb( var(--clr-steelgrey) );}


.ff-manrope { font-family: var(--ff-manrope);}

.fs-heading-h1 {
    font-size: var(--fs-900);
    line-height: 5.25rem;
    font-weight: 800;
    letter-spacing: -0.03em;
}
.fs-heading-h2 {
    font-size: var(--fs-800);
    line-height: 4.75rem;
    font-weight: 800;
    letter-spacing: -0.03em;
}
.fs-heading-h3 {
    font-size: var(--fs-700);
    line-height: 4.25rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-h4 {
    font-size: var(--fs-600);
    line-height: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-5, .fs-title-1 {
    font-size: var(--fs-500);
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-6 {
    font-size: var(--fs-300);
    line-height: 1.875rem;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.fs-title-2 {
    font-size: var(--fs-400);
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.fs-body-1 {
    font-size: var(--fs-200);
    line-height: 2rem;
    font-weight: 600;
}
.fs-body-2 {
    font-size: var(--fs-100);
    line-height: 1.75rem;
    font-weight: 600;
}
.fs-caption {
    font-size: var(--fs-100);
    line-height: 1.5rem;
    font-weight: 500;
}

.opacity-5 {
    opacity: 0.5;
}

.opacity-6 {
    opacity: 0.6;
}

.opacity-7 {
    opacity: 0.7;
}

.uppercase { text-transform: uppercase;}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.justify-text {
    text-align: justify;
}

.container {
    margin-inline: auto;
    max-width: var(--ctnr-width);
}

section, nav, footer {
    padding-inline: 4em;
    position: relative;
}

.circle {
    aspect-ratio: 1;
    border-radius: 50%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.no-decoration-family, .no-decoration-family * {
    text-decoration: none;
    list-style: none;
}

.no-decoration {
    text-decoration: none;
    list-style: none;
}

.btn-primary {
    padding: 16px 40px;
    border-radius: 12px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgb( var(--clr-white) );
    background-color: rgb( var(--clr-orange) );
    margin-right: auto;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    padding: 16px 40px;
    border-radius: 12px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgb( var(--clr-white) );
    background-color: rgb( var(--clr-black) );
    margin-right: auto;
    border: none;
    cursor: pointer;
}

#back-to-top {
    display: inline-block;
    background-color: rgb( var(--clr-orange) );
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  
  #back-to-top i {
    font-weight: 700;
    font-size: 2em;
    line-height: 50px;
    color: rgb( var(--clr-white) );
  }
  
  #back-to-top:hover, #back-to-top:active {
    cursor: pointer;
    background-color: rgb( var(--clr-purple) );
  }
  
  #back-to-top.show {
    opacity: 1;
    visibility: visible;
  }

/* --------------------------- */
/* --------Nav Section-------- */
/* --------------------------- */

nav {
    width: 100%;
}

.navwrap {
    height: 90px;
}

.logo-section {
    height: 3.5rem;
}

.nav-links-section {
    --gap: 0;
}

.nav-links-list {
    border-right: 2px solid rgba( var(--clr-grey), 0.36 );
    padding-right: 15px;
}

.nav-links-list-item {
    padding-inline: 15px;
}

.nav-contact {
    --gap: 0;
}

.whatsapp-link {
    padding-inline: 25px 10px;
}

.nav-contact-details {
    height: 3.5rem;
    --gap: 0;
}

.menu-btn, .menu-modal {
    display: none;
}

/* --------------------------- */
/* -------Header Section------ */
/* --------------------------- */

.header {
    padding: 5rem 0 10rem;
}

.header-text {
    width: 48%;
}

.header-text-wrap {
    --gap: 2.5rem;
}

.open {
    --gap: 1rem;
}

.header-section-btn {
    margin-bottom: 2.5rem;
}

.header-image {
    width: 45%;
    aspect-ratio: 0.962;
    position: relative;
    background-image: url('../img/hero-pic.png');
    background-size: cover;
}

.header-image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.service {
    position: absolute;
    top: 13%;
    left: -8%;
    border-radius: 65px;
    /* background: linear-gradient(138.85deg, #fff -38.72%, #fff 153.95%); */
    border: 0.75rem solid rgba( var(--clr-border-white), 0.43);
    box-shadow: 0 28 118 0 rgba(109, 108, 115, 0.12);
}

.service-wrap {
    border-radius: 65px;
    padding: 0.75rem 1rem;
    z-index: 10;
    box-shadow: 0 28 118 0 rgba(115, 114, 119, 0.12);
}

.service-circle-wrap {
    --gap: 0.3rem;
    padding: 0.8rem;
}

.service-circle-wrap-little-text {
    line-height: 2.5rem;
}

.rating {
    position: absolute;
    bottom: 10%;
    right: -6%;
    border-radius: 59px;
    border: 0.75rem solid rgba( var(--clr-border-white), 0.43);
    box-shadow: 0 28 118 0 rgba(115, 114, 119, 0.12);
}

.rating-wrap {
    padding: 1.3rem 1.5rem 1.3rem 3rem;
    --gap: 1.5rem;
    border-radius: 59px;
    box-shadow: 0 28 118 0 rgba(115, 114, 119, 0.12);
}

.rating-stars {
    --gap: 0.65rem;
}

/* --------------------------- */
/* -------Quote Section------- */
/* --------------------------- */
.quote-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.quote-left {
    width: 40%;
}

.quote-left-wrap {
    --gap: 3rem;
}

.feature-wrap {
    width: 75%;
    --gap: 1.5rem;
}

.feature-left-icon-circle {
    width: 2.5rem;
}

.feature-right {
    padding-top: 0.2rem;
}

.feature-right h6 {
    margin-bottom: 0.5rem;
}

.feature-link {
    --gap: 0.5rem;
    margin-top: 1rem;
}

.feature-link-text-arrow {
    font-size: var(--fs-700);
    line-height: 1.8rem;
}

.quote-right {
    width: 45%;
}

.quote-right-wrap {
    --gap: 2rem;
}

.quote-form {
    --gap: 2rem;
}

.form-inputs-wrap {
    --gap: 0rem;
}

.home-quote-form-input {
    padding: 1.2rem 2rem;
    border: none;
    margin-bottom: 2px;
}

.home-quote-form-input::placeholder {
    font-size: var(--fs-100);
    line-height: 1.75rem;
    font-weight: 600;
    opacity: 0.5;
}



/* --------------------------- */
/* ------Process Section------ */
/* --------------------------- */

.process-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.process-section-wrap {
    margin-left: 5rem;
}

.process-left {
    width: 45%;
}

.process-left-wrap {
    --gap: 2rem;
}

.process-right {
    width: 35%;
}

.process-circle-section {
    --gap: 1rem;
}

.process-circle {
    width: 4.5rem;
    position: relative;
}

.process-circle::after {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba( var(--clr-white), 0.24 );
    position: absolute;
    left: 25%;
    bottom: -25%;
}

.process-circle p {
    font-size: 1.8rem;
    line-height: 4.5rem;
    text-align: center;
}

.dotted-line {
    width: 0;
    height: 5.5rem;
    border-left: 2px dashed rgb( var(--clr-orange) );
}

.process-text-section {
    --gap: 1rem;
}

.process-text-group {
    --gap: 1.4rem;
    padding-top: 0.6rem;
    height: 11rem;
    overflow: hidden;
/*     padding-bottom: 1rem; */
}

.process-text-group p {
    width: 95%;
}


/* --------------------------- */
/* -------Offer Section------- */
/* --------------------------- */

.offer-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.offer-section-wrap {
    --gap: 0;
}

.offer-section-wrap h2 {
    width: 65%;
    margin-top: 0.5rem;
    margin-inline: auto;
    margin-bottom: 4rem;
}

.offer-boxes-wrap {
    --gap: 0.3rem;
}

.offer-box {
    width: calc( (var(--ctnr-width) - 0.9rem) / 4);
    aspect-ratio: 1.36;
}

.offer-box-wrap {
    transform: scale(0.85);
}

.offer-link {
    margin-top: 2rem;
}

.offer-link-text-arrow {
    font-size: var(--fs-700);
    line-height: 1.8rem;
    margin-left: 1rem;
}


/* --------------------------- */
/* --------CTA Section-------- */
/* --------------------------- */

.cta-section {
    position: relative;
    height: 29rem;
}

.cta-left-image {
    width: 52%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/cta-left-image.png");
    background-size: cover;
    background-position: bottom right;
    z-index: -1;
}

.cta-right-image {
    width: 48%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/cta-right-image.png");
    background-size: cover;
    z-index: -1;
}

.cta {
    height: 100%;
    z-index: 2;
}

.cta-box {
    width: 55%;
    height: 100%;
}

.cta-box-wrap {
    width: 82%;
    --gap: 3rem;
}


/* --------------------------- */
/* ----Experience Section----- */
/* --------------------------- */

.experience-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* --------------------------- */
/* ------Brands Section------- */
/* --------------------------- */

.brands-section {
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.brands-section-wrap {
    --gap: 3rem;
}

.brands-wrap {
    width: 100%;
    --gap: 2.5rem 1rem;
}

.brands-wrap img {
    width: calc( (var(--ctnr-width) - 4rem) / 5);
}


/* --------------------------- */
/* ---Testimonials Section---- */
/* --------------------------- */

.testimonials-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.testimonials-section-wrap {
    --gap: 0rem;
}

.testimonials-section-wrap h3 {
    width: 70%;
    margin-inline: auto;
    margin-bottom: 6rem;
}

.feedback-wrap {
    position: relative;
}

.feedback-slide {
    display: none;
    width: 48.5%;
}

.feedback-box {
    width: 100%;
    height: 23.3rem;
    border: 1px solid rgba( var(--clr-border-grey), 0.29 );
    border-radius: 6px;
}

.feedback-box-wrap {
    width: 80%;
    height: 70%;
    --gap: 2rem;
}

.feedback-top-wrap {
    --gap: 0.75rem;
}

.feedback-img-one {
    width: 4rem;
    background-image: url("../img/K84vnnzxmTQ.png");
    background-size: cover;
}

.feedback-img-two {
    width: 4rem;
    background-image: url("../img/nJHvhXS4C0U.jpg");
    background-size: cover;
}

.testimonial-bottom-wrap {
    width: 100%;
    height: 5rem;
    grid-template-columns: 8rem 1fr 8rem;
    grid-template-rows: 5rem;
    grid-template-areas: ". lines arrows";
    align-items: center;
    /* border: 1px solid black; */
}

/* .testimonial-bottom-wrap * {
    border: 1px solid black;
} */

.feedback-slide-marker-line-wrap {
    grid-area: lines;
    width: auto;
    justify-content: center;
    --gap: 0.5rem;
}

.feedback-slide-marker-line {
    width: 2rem;
    height: 4px;
    background-color: rgb( var(--clr-grey) );
}

.feedback-slide-marker-line.active-slide-marker {
    background-color: rgb( var(--clr-orange) );
}

.feedback-slide-arrows-wrap {
    grid-area: arrows;
    width: 8rem;
    --gap: 1.5rem;
    justify-content: flex-end;
}

.feedback-slide-arrow-container {
    width: 3rem;
    padding: 0.5rem 1rem;
    transition: transform 200ms ease-in, background-color 250ms linear, color 250ms linear;
}

.feedback-slide-arrow-container:hover {
    transform: scale(1.3);
    background-color: rgb( var(--clr-black) );
    color: rgb( var(--clr-white) );
}

.feedback-slide-arrow-container:nth-of-type(1):after {
    content: "\2190";
}

.feedback-slide-arrow-container:nth-of-type(2):after {
    content: "\2192";
}


/* --------------------------- */
/* --------Faq Section-------- */
/* --------------------------- */

.faq-section {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.faq-section-wrap {
    --gap: 7rem;
}

.faq-boxes-wrap {
    --gap: 0.5rem;
}

.faq-box {
    width: 55%;
    padding: 2rem 3rem;
}

.faq-checkbox {
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
}

.faq-checkbox:checked ~ .faq-answer {
    height: auto;
    /* display: block; */
    visibility: visible;
}

.faq-checkbox:checked ~ label .faq-toggle span::before {
    transform: rotate(0deg) translateY(0.06rem);
}

.faq-box > label > p {
    width: 60%;
    /* border: 1px solid black; */
}

.faq-label-wrap p {
    line-height: 3.1875rem;
}

.faq-toggle {
    width: 3.1875rem;
    max-height: 3rem;
    aspect-ratio: 1.0625;
    background-color: rgb( var(--clr-orange) );
    --gap: 0;
}

.faq-toggle span {
    width: 1.1rem;
    height: 2px;
    background-color: rgb( var(--clr-white) );
    position: relative;
}

.faq-toggle span::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb( var(--clr-white) );
    /* z-index: 10; */
    position: absolute;
    transform: rotate(90deg) translateY(-0.06rem);
    transition: transform 100ms ease-in;
}

.faq-answer {
    width: 85%;
    height: 0;
    /* display: none; */
    visibility: hidden;
    margin-top: 1rem;
    /* transition: all 200ms ease-in; */
}


/* --------------------------- */
/* -----------Footer---------- */
/* --------------------------- */

footer {
    background-color: rgb( var(--clr-black), 0.98);
    padding-inline: 0;
}

.footer-wrap {
    --gap: 12rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.footer-top-left {
    width: 35%;
}

.footer-top-right {
    width: 52%;
}

.footer-top-left-wrap {
    --gap: 4rem;
}

.social-media-wrap {
    --gap: 1rem;
}

.footer-top-right-wrap {
    --gap: 2rem;
}

.footer-top-right-block {
    --gap: 0.5rem;
}

.footer-bottom {
    background-color: rgb( var(--clr-black) );
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* --------------------------- */
/* -------Media Queries------- */
/* --------------------------- */

@media screen and (min-width: 1500px) {
    :root {
        --ctnr-width: 100rem;
    }
    
    html {
        font-size: 14px;
    }
    
    section, nav {
        padding-inline: 5em;
        position: relative;
    }
}


@media screen and (max-width: 1200px) {
    :root {
        --ctnr-width: 75rem;
    }
    
    section, nav {
        padding-inline: 3em;
        position: relative;
    }

    .quote-left {
        width: 45%;
    }

    .faq-box {
        width: 65%;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --ctnr-width: 70rem;
    }
    
    section, nav {
        padding-inline: 2em;
        position: relative;
    }

    .quote-left {
        width: 50%;
    }

    .process-right {
        width: 45%;
    }

    .process-text-group {
        padding-bottom: 2rem;
    }
}


@media screen and (max-width: 950px) {
    :root {
        --ctnr-width: 55rem;
    }
    
    html {
        font-size: 12px;
    }

    .header-wrap,
    .quote-section-wrap,
    .process-section-wrap {
        flex-wrap: wrap;
    }

    .header-image,
    .header-text,
    .quote-left,
    .quote-right,
    .process-left,
    .process-right {
        width: 100%;
    }

    .nav-links-list-item {
        padding-inline: 5px;
    }

    .header {
        padding: 0 0;
    }

    .header-wrap {
        position: relative;
        max-width: 100%;
    }

    .header-text {
        order: 2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        aspect-ratio: 1.2;
        color: rgb( var(--clr-white) );
        /* border: 1px solid red; */
    }

    .header-text-wrap {
        width: var(--ctnr-width);
        margin-inline: auto;
        margin-top: -10%;
        /* border: 1px solid white; */
    }

    .header-text-wrap h1 {
        width: 85%;
    }

    .open-text p.text-grey {
        color: rgb( var(--clr-white) );
    }

    .header-image {
        order: 1;
        aspect-ratio: 1.2;
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/hero-pic.png');
        background-size: cover;
    }

    .header-image-container {
        width: var(--ctnr-width);
        height: 100%;
        margin-inline: auto;
    }

    .service {
        top: unset;
        bottom: 10%;
        left: 0;
    }

    .rating {
        right: 0;
    }

    .quote-section-wrap {
        --gap: 6rem;
    }

    .feature-link {
        align-self: flex-end;
    }

    .home-quote-form-input {
        width: 60%;
    }

    .process-section-wrap {
        --gap: 7rem;
        margin-left: auto;
    }

    .process-left-wrap h2 {
        width: 80%;
    }

    .process-left-wrap p {
        width: 75%;
    }

    .process-right-wrap {
        --gap: 2rem;
    }

    .process-text-group p.fs-body-1 {
        width: 80%;
    }

    .offer-box {
        width: calc( (var(--ctnr-width) - 0.6rem) / 3);
    }

    .cta-box {
        width: 75%;
    }

    .brands-wrap img {
        width: calc( (var(--ctnr-width) - 3rem) / 4);
    }

    .feedback-wrap {
        justify-content: center;
    }

    .feedback-slide {
        width: 100%;
    }

    .faq-box {
        width: 75%;
    }
}


@media screen and (max-width: 768px) {
    :root {
        --ctnr-width: 50rem;
    }
    
    html {
        font-size: 12px;
    }

    .nav-links-section {
        display: none;
    }

    .menu-btn {
        display: flex;
        width: 4.5rem;
        aspect-ratio: 1;
        padding: 0.75rem;
        border-radius: 5px;
        cursor: pointer;
        z-index: 11;
        transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .menu-btn:hover {
        background-color: rgb( var(--clr-orange) );
        border: none;
    }

    .menu-btn:hover .bars {
        background-color: rgb( var(--clr-white) );
    }

    .menu-btn:focus, .menu-btn:active {
        background-color: rgb( var(--clr-white) );
        border: 1px solid black;
    }

    .menu-btn:focus .bars, .menu-btn:active .bars {
        background-color: rgb( var(--clr-black) );
    }

    .bars-wrap {
        width: 3rem;
        aspect-ratio: 1;
    }

    .bars {
        width: 100%;
        height: 5px;
        border-radius: 2px;
        transform: rotate(0deg) translate(0, 0);
        transform-origin: 0, 0;
        transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .bars:nth-of-type(1) {
        width: 50%;
    }

    .bars:nth-of-type(3) {
        width: 75%;
    }

    .bars:nth-of-type(1).rotate {
        transform-origin: bottom;
        transform: rotate(45deg) translate(7.5px, 5.5px);
    }

    .bars:nth-of-type(2).rotate {
        transform-origin: top;
        transform: rotate(-45deg) translate(-1px, -1px);
    }

    .bars:nth-of-type(3).rotate {
        transform-origin: top;
        width: 50%;
        transform: rotate(45deg) translate(5.5px, -19.5px);
    }

    .menu-btn.change-color {
        background-color: rgb( var(--clr-orange) );
        border: none;
    }

    .menu-btn.change-color .bars {
        background-color: rgb( var(--clr-white) );
    }

    .menu-modal.active {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba( var(--clr-black), 0.65);
    }

    .menu-modal-wrap {
        width: 60%;
        height: 100%;
        padding: 3rem 4rem;
        background-color: rgb( var(--clr-orange) );
    }

    .modal-links-list {
        padding: 2rem 0;
    }

    .modal-links-list-item {
        padding: 1rem 0;
    }

    .service, .rating {
        bottom: 2%;
    }
}


@media screen and (max-width: 670px) {
    :root {
        --ctnr-width: 50rem;
    }
    
    html {
        font-size: 10px;
    }

    .header-image {
        aspect-ratio: 1.1;
    }

    .feedback-slide-marker-line {
        width: 1.5rem;
    }
}

@media screen and (max-width: 580px) {
    :root {
        --ctnr-width: 35rem;
    }
    
    html {
        font-size: 11px;
    }

    .menu-btn {
        transform: scale(0.75);
    }

    .menu-modal-wrap .nav-contact {
        flex-direction: column;
        --gap: 2rem;
        padding-top: 2rem;
    }

    .menu-modal-wrap .nav-contact .whatsapp-link {
        align-self: flex-start;
        padding-inline: 0;
    }

    .menu-modal-wrap .nav-contact-details {
        height: auto;
    }

    .header-image {
        aspect-ratio: 0.7;
    }

    .header-text {
        aspect-ratio: 0.8;
    }

    .header-text-wrap {
        margin-top: 0;
    }

    .header-text-wrap h1 {
        width: 90%;
    }

    .service, .rating {
        border-radius: 6px;
        border: none;
    }

    .service-wrap {
        flex-direction: column;
        border-radius: 6px;
        padding: 1rem;
    }

    .rating-wrap {
        flex-direction: column;
        border-radius: 6px;
        padding-left: 1.3rem;
    }

    .home-quote-form-input {
        width: 80%;
    }

    .process-left-wrap h2 {
        width: 100%;
    }

    .offer-section-wrap h2 {
        width: 100%;
        margin-top: 1.5rem;
    }

    .offer-boxes-wrap {
        justify-content: center;
    }

    .offer-box {
        width: calc( (var(--ctnr-width) - 0.3rem) / 2);
    }

    .offer-box-wrap {
        transform: scale(0.5);
    }

    .cta-box {
        width: 100%;
    }

    .cta-box h3 {
        font-size: var(--fs-600);
        line-height: 3.5rem;
    }

    .experience-wrap {
        flex-wrap: wrap;
        padding-inline: 3rem;
        --gap: 3rem 1rem;
    }

    .experience-single {
        width: 45%;
        --gap: 1rem;
    }

    .brands-wrap {
        justify-content: space-evenly;
    }

    .brands-wrap img {
        width: calc( (var(--ctnr-width) - 3rem) / 3);
    }

    .testimonials-section-wrap h3 {
        width: 100%;
    }

    .feedback-box {
        height: 28rem;
    }

    .faq-box {
        width: 100%;
        padding: 1rem 1.5rem;
    }

    .footer-wrap {
        flex-direction: column;
        --gap: 6rem;
    }

    .footer-wrap > * {
        width: 100%;
    }

    .footer-bottom-wrap {
        flex-wrap: wrap;
        --gap: 3rem 1rem;
    }

    .footer-links {
        order: 1;
        width: 70%;
    }

    .copyright {
        order: 3;
    }
}


@media screen and (max-width: 425px) {
    :root {
        --ctnr-width: 90%;

        --fs-900: 3.5rem;
        --fs-800: 3.25rem;
    }

    .fs-heading-h1 {
        font-size: var(--fs-900);
        line-height: 4.25rem;
    }
    .fs-heading-h2 {
        font-size: var(--fs-800);
        line-height: 4rem;
    }
    .fs-heading-h3 {
        font-size: var(--fs-700);
        line-height: 4rem;
    }
    .fs-heading-h4 {
        font-size: var(--fs-600);
        line-height: 3.5rem;
    }
    .fs-heading-5, .fs-title-1 {
        font-size: var(--fs-500);
        line-height: 3rem;
    }
    .fs-heading-6 {
        font-size: var(--fs-300);
        line-height: 1.875rem;
    }
    .fs-title-2 {
        font-size: var(--fs-400);
        line-height: 2.25rem;
    }
    .fs-body-1 {
        font-size: var(--fs-200);
        line-height: 2rem;
    }
    .fs-body-2 {
        font-size: var(--fs-100);
        line-height: 1.75rem;
    }
    .fs-caption {
        font-size: var(--fs-100);
        line-height: 1.5rem;
    }

    .menu-btn {
        transform: scale(0.6);
    }

    .header-image {
        aspect-ratio: 0.6;
    }

    .home-quote-form-input {
        width: 100%;
    }

    .process-text-group {
        padding-bottom: 0;
    }

    .process-text-group h6 {
        width: 100%;
        font-size: var(--fs-400);
    }

    .process-text-group p {
        width: 100%;
    }

    .feedback-slide-marker-line {
        width: 1rem;
    }

    .footer-links {
        width: 100%;
    }
}